<% include partials/header %>



<div class="header">
    <div class="header-cont">
        <p id="header-title"><i class="fas fa-campground"></i> YelpCamp</p>
        <p id="header-info">Start planning your next trip today</p>
        <div class="border-b"></div>
        <div class="camp-btn-div">
            <a href="/campgrounds"><button class="campground-btn">View all Campgrounds</button></a>
        </div>
    </div>
    <div class="dots">
        <div class="dot"><a href="#" class=" dot-selected"><i class="far fa-circle"></i></a></div>
        <div class="dot"><a href="#"><i class="far fa-circle"></i></a></div>
        <div class="dot"><a href="#"><i class="far fa-circle"></i></a></div>
    </div>
</div>



<% include partials/footer %>