<% include partials/header %>

<div class = "new-camp">
    <h1 class="new-camp-title">Sign-Up</h1>

    <form class="new-camp-form" action="/register" method="POST">
        <input class="camp-name" type="text" placeholder="Username" name="username" required>
        <input class="camp-name" type="password" placeholder="password" name="password" required>
        <input class="camp-name" type="email" placeholder="E-mail" name="email">
        <input class="camp-name" type="number" placeholder="Phone number" name="number">
        <input class="camp-submit" type="submit" value = "Sign-Up">
    </form>

</div>

<% include partials/footer %>