<% include partials/header %>

<div class = "user-container" style = "margin-top: 100px;">
    <p>name: <%= currentUser.username %></p>
    <p>E-mail: <%= currentUser.email %></p>
    <p>pgone: <%= currentUser.phone %></p>
    <p>password: <%= currentUser.password %></p>
</div>

<% include partials/footer %>